<!DOCTYPE html>
<html>
  <head>
    <title>US Sales Tax Rates</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
    

  </head>
  <body>
    <nav class="nav-bar">
      <center>United States Tax Rates and Simple Translations</center>
    </nav>
    <div class="container">
      <p>This site is an API for finding US Sales Tax Rates, and doing simple translations.</p>
      <br>
      {% block content %}
      <center><a href="/form"><button id="btn">Click here to search for a state sales tax rate</button></a></center>
      <center><a href="/translate"><button id="btn2">Click here to translate text to a different language</button></a></center>
      {% endblock %}
      <br>
 
    </div>

  </body>
</html>