<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="/static/style.css"/>
    <script type="text/javascript">
        var form = document.getElementById("form")
        
        

        //function to change form variables to URL input
        function changeText2(){
            console.log("Called Function");
            //read the values from the HTML form
            var language = document.getElementById("language").value;
            console.log(language);
            var textInput = document.getElementById("textInput").value;
            console.log(textInput);
            
            //create the full URL
            var myurl= 'http://localhost:3005/translate/' + language + '/' + textInput;

            var req = new XMLHttpRequest(); 
            var url = myurl;
            req.open( 'GET', myurl, true);
            req.onreadystatechange = function() {
                
                if(req.readyState== XMLHttpRequest.DONE) {
                var status = req.status;
                if (status===0 || status >=200 && status <400) {
                    console.log("request made");
                    console.log(typeof req.response);
                    console.log(req.responseText)
                    let jsonResponse = JSON.parse(req.responseText);
                    //output response to html
                    document.getElementById("response").innerHTML = jsonResponse.newText

                }   else {
                    console.log("Error");
                }
                }
                
            }
            req.send();
            

            
        }
        </script>
</head>
<body>
    {% extends "home.html" %}
    {% block content %}
    <div>
        <form id="form" onsubmit="changeText2(); return false;">
            <h3>
                Please Enter the language in the following manner:
                <li>es - Spanish</li>
                <li>fr - French</li>
                <li>en - English</li>
                <li> zh-TW - Chinese</li>
            </h3>
            <div><label>Language: </label><input type="text" id = "language" name="language"></div>
            <div><label>Text:</label> <input type="text" id = "textInput" name="textInput"></div>
            <input type='submit' value='Translate' id="translate"/>
    
    </div>
        
    </form>

    <p></p>
    <p></p>
    <p></p>
    <p><h2>Here is the response:</h2></p>
    <H1><div id="response"><h2></h2>  </h2></div></H1>
    <div><a href="/">Go back to homepage</a></div>
    

    {% endblock %}

    

</body>



 





</body>
